<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="social-media-links">
    <ul>
        <a href="https://www.twitter.com/" target="_blank">
            <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
        </a>
        <a href="https://www.facebook.com/" target="_blank">
            <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
        </a>
        <a href="https://www.youtube.com/" target="_blank">
            <li><i class="fa fa-youtube" aria-hidden="true"></i></li>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
        </a>
        <a href="https://www.gmail.com/" target="_blank">
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
        </a>
    </ul>
</div>